.App {
  text-align: center;
  position: relative;
}
.App-header {
  background-color: #222;
  height: 80px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

footer {
  background-color: black;
  color: white;
  padding: 2rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 20rem;


}
